<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectre</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/user.css">
   	<link rel="stylesheet" href="static/css/sb-admin.css">
   	<link rel="stylesheet" href="static/css/normalize.css">
</head>

<body>
    
    <nav class="navbar navbar-light navbar-expand-md" style="background-color:#343a40;">
        <div class="container">
        	<a class="navbar-brand" href="index.html" style="background-image:url(&quot;static/img/logo.png&quot;);background-repeat:no-repeat;background-position:center;width:200px;height:65px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">


        		<span class="sr-only">Toggle navigation</span>
        		<span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="login.html" style="color:rgb(255,255,255);font-size:20px;margin:5px;">SignIn</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="register.html" style="color:rgb(255,255,255);font-size:20px;margin:5px;">SignUp</a></li>
                </ul>
        </div>
        </div>
    </nav>
    
    <div class="jumbotron jumbotron-fluid hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6 get-it">
                    <h1>Monitoring for who needs&nbsp;</h1>
                    <h3><p>Spectre is social network monitoring platform</p></h3>
                </div>
                
                <div class="card card-login mx-auto mt-5"> 

     <div class="card-header">Login</div>
      <div class="card-body" style="width: 400px">
        <form>
          <div class="form-group">
            <label for="InputEmail">Email address</label>
            <input class="form-control" id="InputEmail1" type="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="InputPassword">Password</label>
            <input class="form-control" id="InputPassword" type="password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="index.html">Login</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">Alguma frase Lesgal Aqui</h2>
        <blockquote class="blockquote">
            <p>Texto explicando a frase lesgal</p>
            <footer class="blockquote-footer"></footer>
        </blockquote>
    </section>
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Features to save from Depression</h2>
                    <p>Será um software livre onde todos podem utilizar com acompanhamento psicologico especilisado préviamente consultado e notificado, em inglês</p>
                </div>
                <div class="col-md-6">
                    <div class="row icon-features">
                        <div class="col-4 icon-feature"><i class="fa fa-cloud icon-feature_here"></i>
                            <p>Web</p>
                        </div>
                        <div class="col-4 icon-feature"><i class="fa fa-money icon-feature_here"></i>
                            <p>De graça</p>
                        </div>
                        <div class="col-4 icon-feature"><i class="fa fa-fire icon-feature_here"></i>
                            <p>Seguro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>SPECTRE © 2018</h5>
                </div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>