<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"/>
  <title>Spectre - Register</title>
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
  <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/sb-admin.css">
</head>

<body class="bg-dark">
	
	<nav class="navbar navbar-light navbar-expand-md" style="background-color:#343a40;">
        <div class="container">
        	<a class="navbar-brand" href="index.html" style="background-image:url(&quot;static/img/logo.png&quot;);background-repeat:no-repeat;background-position:center;width:200px;height:65px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">


        		<span class="sr-only">Toggle navigation</span>
        		<span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="login.html" style="color:rgb(255,255,255);font-size:20px;margin:5px;">SignIn</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="register.html" style="color:rgb(255,255,255);font-size:20px;margin:5px;">SignUp</a></li>
                </ul>
        </div>
        </div>
    </nav>

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="InputName">First name</label>
                <input class="form-control" id="InputName" type="text" placeholder="Enter first name">
              </div>
              <div class="col-md-6">
                <label for="InputLastName">Last name</label>
                <input class="form-control" id="InputLastName" type="text" placeholder="Enter last name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input class="form-control" id="InputEmail" type="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="InputPassword">Password</label>
                <input class="form-control" id="InputPassword" type="password" placeholder="Password">
              </div>
              <div class="col-md-6">
                <label for="ConfirmPassword">Confirm password</label>
                <input class="form-control" id="ConfirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="login.html">Register</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Login Page</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
 
  <script src="static/js/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
